{% load static %}
<html>
   <head>
      <title>
         {% block title %}Base title{% endblock %}
      </title>
        {% comment %} This Bootsrap css is added to all pages {% endcomment %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <!-- Custom -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <script type="text/javascript" src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js'  %}"></script>

   </head>
   <body>
      {% block content %}
      
      {% endblock %}
   </body>
</html>
